<form role="form">

	<div class="page-header">
		<h1>Bienvenido <small>aqui podras ingresar señor administrador</small></h1>
	</div>


	<div class="input-group">
		<span class="input-group-addon">Usuario</span>
		<input type="text" class="form-control" required="" ng-model="user.user" auto-fill-sync>
	</div>
	<br>

	<div class="input-group">
		<span class="input-group-addon">Contraseña</span>
		<input type="password" class="form-control" name="password" required="" ng-model="user.pass" auto-fill-sync/> 
	</div>
	<br>

	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Enviar</button>
		</div>
	</div>
	<br>

</form>