<div class="text">
  
  <h1>Administrador</h1> 
  
  <table class="table table-bordered">
  	<thead>
  		<tr>
  			<th>#</th>
  			<th>Nombre</th>
  			<th>Tipo</th>
  			<th>Acciones</th>
        <th> </th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr ng-repeat="tercero in terceros">
  			<td>{{tercero.terCodigoTercero}}</td>
        <td>{{tercero.terRazonSocial}}{{tercero.terNombres}}</td>
        <td>{{tercero.terTipoPersona}}</td>
        <th><a ng-click="aprobar({{tercero.terCodigoTercero}})" title="Detalle">Aprobar</a></th>
        <th><a ng-click="rechazarModal({{tercero.terCodigoTercero}})" title="Detalle">Rechazar</a></th>
  		</tr>
  	</tbody>
  </table>

  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Solicitud enviada</h4>
        </div>
        <div class="modal-body">
          seleccione las causas de rechazo.
          {{user}}
          <div class="input-group">
            <span class="input-group-addon">Información insuficiente</span>
            <input type="checkbox" class="form-control" required="" ng-model="user.causa1">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Portafolio erroneo</span>
            <input type="checkbox" class="form-control" required="" ng-model="user.causa2">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Ya tenemos proveedores asociados a sus servicios</span>
            <input type="checkbox" class="form-control" required="" ng-model="user.causa3">
          </div>
        </div>
        <div class="modal-footer">
          <p><a class="btn btn-lg btn-success" data-dismiss="modal" ng-click="rechazar()">Aceptar <span class="glyphicon glyphicon-ok"></span></a></p>
        </div>
      </div>
    </div>
  </div>
</div>