<div class="jumbotron">
  <h1>'Allo, 'ACME!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt=""><br>
    Bienvenido a nuestro sistema.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/register">Conviertete en nuestro proveedor! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>