<form role="form">

	<div class="page-header">
		<h1>Bienvenido <small>Aquí podras enviar tus datos de Proveedor</small></h1>
	</div>

	<div class="input-group">
		<span class="input-group-addon">Tipo</span>
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">{{person_type}} <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li><a ng-click="updatePersonType(0)">Persona Juridica</a></li>
				<li><a ng-click="updatePersonType(1)">Persona Natural</a></li>
			</ul>
		</div><!-- /btn-group -->
	</div><!-- /input-group -->
	<br>

	<div class="input-group">
		<span class="input-group-addon">Departamento</span>
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">{{departamentoActual.depNombre}} <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="departamento in departamentos"><a ng-click="updateDepartamento(departamento)" >{{departamento.depNombre}}</a></li>
			</ul>
		</div><!-- /btn-group -->
	</div><!-- /input-group -->
	<br>

	<div class="input-group">
		<span class="input-group-addon">Ciudad</span>
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">{{ciudadActual.ciuNombre}} <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="ciudad in ciudades"><a ng-click="updateCiudad(ciudad)" >{{ciudad.ciuNombre}}</a></li>
			</ul>
		</div><!-- /btn-group -->
	</div><!-- /input-group -->
	<br>

	<div ng-hide ="hidecamp()">
		<div class="input-group">
			<span class="input-group-addon" >Nombre</span>
			<input type="text" class="form-control" ng-model="user.terNombres">
		</div>
		<br>

		<div class="input-group">
			<span class="input-group-addon">Apellido</span>
			<input type="text" class="form-control" ng-model="user.terApellidos">
		</div>
		<br>

		<div class ="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{document_type}} <span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="updateDocumentType(0)">Cédula de Ciudadania</a></li>
					<li><a ng-click="updateDocumentType(1)">Cédula de Extranjeria</a></li>
				</ul>
			</div><!-- /btn-group -->
			<input type="text" class="form-control" placeholder="Número de documento" ng-model="user.terIdentificacion">
		</div><!-- /input-group -->
		<br>
	</div>
	
	<div ng-show ="showname()">
		<div class="input-group">
			<span class="input-group-addon">Razón social</span>
			<input type="text" class="form-control" required="" ng-model="user.terRazonSocial" >
		</div>
		<br>

		<div class="input-group">
			<span class="input-group-addon">NIT</span>
			<input type="text" class="form-control" required="" ng-model="user.terIdentificacion">
		</div>
		<br>
	</div>

	<div class="input-group">
		<span class="input-group-addon">Dirección</span>
		<input type="text" class="form-control" required="" ng-model="user.terDireccion">
	</div>
	<br>

	<div class="input-group">
		<span class="input-group-addon">Telefono</span>
		<input type="text" class="form-control" required="" ng-model="user.terTelefono">
	</div>
	<br>

	<div class="input-group">
		<span class="input-group-addon">E-mail</span>
		<input type="text" class="form-control" required="" ng-model="user.terEmail">
	</div>
	<br>

	<div class="form-group">
		<label for="exampleInputFile">Portafolio</label>
		<div
			class="btn btn-primary btn-upload"
			upload-button
			url="/upload.php"
			on-success="onSuccess(response)"
		>Upload</div>
	</div>
	<br>

	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-lg" ng-click="registerUser()">Enviar</button>
		</div>
	</div>
	<br>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Solicitud enviada</h4>
				</div>
				<div class="modal-body">
					Uno de nuestros asesores estara revisando su solicitud, al cabo de unos dias tendra una respuesta por correo electronico.
				</div>
				<div class="modal-footer">
					<p><a class="btn btn-lg btn-success" data-dismiss="modal" ng-href="/#">Aceptar <span class="glyphicon glyphicon-ok"></span></a></p>
				</div>
			</div>
		</div>
	</div>

</form>